#root {
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  padding: 0;
}

.active {
  color: yellow;
  font-size: large;
  font-weight: bold;
  pointer-events: none;
}

.no-active {
  font-weight: lighter;
  font-size: medium;
  color: darkgreen;
}