#root {
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  padding: 0;
}

.active {
  color: yellow;
  font-size: large;
  font-weight: bold;
  pointer-events: none;
}

.no-active {
  font-weight: lighter;
  font-size: medium;
  color: darkgreen;
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
